

@media screen and (max-width:768px){
    .container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px; 
        box-sizing: border-box;
    }
    
    .right{
        width: 0;
        display: none;
} 
}
// 控制左侧边栏
@media screen and (max-width:1025px){
    // .imageview{
    //     width: 0;
    //     display: none;
    // }
    .imageview{
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 52px;
        background: #fff;
    }
   
}
@media screen and (min-width:1025px){
    .imageview{
        position: fixed;
        z-index: 10;
        top: 30vh;
        transform: translateX(-100%);
        padding-right: 10px;
    }
    .imageview span{
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-second);
        color: var(--disable-text-color)
    }
    .imageview span:hover{
        color:var(--primary-color)
     }
     .imageview span.active{
        color:var(--primary-color)
     }
     .imageview span.active2{
        color: var(--disable-text-color)
     }
     
    .imageview .hot,.views,.share{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .imageview .hot{
        position: relative;
    }
    i{
        position: absolute; 
        right: -8px;
        top: -5px;
        font-style: normal;
        width:18px;
        height:18px;
        background: red;
        text-align:center; 
        line-height: 18px; 
        border-radius: 50%;
        color:#fff; 
    }
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .detail{
        width: 768px; /*no*/
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    .detail{
        width: 970px; /*no*/
    }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
    .detail{
        width: 1140px; /*no*/
    }
}
.detail{
    background: var(--bg-body);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .left{
          display: flex;
          flex-direction: column;
           flex: 1;
           width: calc(100% - 20rem - 1rem);
           margin-top: 18px;
           color: var(--main-text-color);
           .leftTop{
             background: var(--bg-second);
           }
           .Com{
               display: flex;
               flex-direction: column; 
           }
           .Commenttitle{
            width: 100%;
            margin: 0 auto;
            margin-left: -16px;
            padding: 1rem ;
            color: var(--main-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: .06em;
            background-color:var(--bg-body) ;
           }
           .commentA{
               width: 100%;
            //    height: 222px;
               padding: 1rem;
               background: #fff;
               border: 1px solid #ccc;
               display: flex;
               flex-direction:column;
               color: var(--main-text-color);
               .comTop{
                   textarea{
                    width: 100%;
                    height: 142px;
                    min-height: 142px;
                    max-height: 274px;
                    overflow-y: hidden;
                    padding-left: 10px;
                    resize: none;
                    border-color: var(--comment-editor-border-color)
                    ;
                    color: var(--main-text-color);
                    outline: none;
                    
                   }

               }
               .comBot{
                   display: flex;
                   justify-content: space-between;
                   padding-top: 1rem;

                   .leftL{
                       display: flex;
                       span{
                          line-height: 18px;
                          color: var(--main-text-color);
                       }
                   }
                   .leftL:hover{
                       color: red;
                   }
                   .rightbtn{
                      line-height: 18px;
                        button{
                            outline: none;
                            // line-height: 18px;
                            border-color: var(--comment-editor-border-color);
                            color: var(--main-text-color);
                            background-color: var(--comment-editor-disable-bg)
                        }
                   }
               }
           } 
           .imgs{
               padding: 1rem;
               box-sizing: border-box;
               background: var(--bg-second);
               img{
                    display: inline-block;
                    width: 100%;
                    justify-content: center;
                    height: auto;
                    border-radius: var(--border-radius)
               }
           }
           .top{
            text-align: center;
                h1{
                    margin: .67em 0 0;
                    color: inherit;
                    font-weight: 700;
                    font-size: 2.5rem;
                    line-height: 1rem;
                    line-height: 1.5;
                    text-align: center;
                }
           } 
           h1~p{
            text-align: center;
           }
           p{
            margin-bottom: 1.2em;
            color: inherit;
            font-style: normal;
            text-align: left;
           } 
    }
    .right{
        width: 20rem;
        height: 420px;
        margin-left: 1rem;
        padding-bottom: 1rem;
        position: sticky;
        top: 2rem;
        }
        .Bot{
            margin-top: 10px;
            li{
                background: var(--bg-code);
            }
            li span{
              margin-right: 10px;
              color: var(--main-text-color);
            }
        }
 }
