
  /*小屏幕*/
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .right{
      display: none;
    }
  }
  /*平板*/
  @media screen and (min-width: 768px) and (max-width: 992px){
      .container{
          width: 768px; /*no*/
      }
  }
  /*中等屏幕*/
  @media screen and (min-width: 992px) and (max-width: 1200px){
      .container{
          width: 970px; /*no*/
      }
      
  }
  /*大屏幕，或者宽屏*/
  @media screen and (min-width: 1200px) {
      .container{
          width: 1140px; /*no*/
      }
      
  }

  
  
  .container{
    background: var(--bg-body);
    margin-right: auto;
    margin-left: auto;
    .head{
      width: 100%;
      margin: 0 auto;
      line-height: 50px;
      color: var(--main-text-color);
      a{
        text-decoration: none;
        color: var(--main-text-color);
        padding: 5px;
      }
      span{
        color: var(--main-text-color);
        padding: 5px;
      }
    }
    .context{
      display: flex;
      justify-content: center;
      .left{
        flex: 1;
        width: calc(100% - 20rem - 1rem);
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        .article{
          background-color:var(--bg-second);
          padding: 1rem;
          .title{
            width: 100%;
            text-align: center;
            color: var(--main-text-color);
            h1{
              color: var(--main-text-color);
            }
          }
          .markdown{
            word-break: break-word;
            line-height: 1.75;
            font-weight: 400;
            font-size: 15px;
            overflow-x: hidden;
            letter-spacing: 1.2px;
            color: var(--main-text-color);
            h2{
              padding-bottom: 12px;
              font-size: 24px;
              border-bottom: 1px solid var(--border-color);
            }
            p{
              line-height: inherit;
              margin-top: 22px;
              margin-bottom: 22px;
            }
            ol, ul, dl {
              margin-top: 0;
              margin-bottom: 1em;
              list-style-type: style type auto ;
            }
            img{
              width: 100%;
            }
          }
          .publish{
            color: var(--main-text-color);
            font-size: 12px;
            line-height: 22px;
            text-align: center;
            padding-bottom: 21px;
            border-bottom: 1px solid var(--border-color);
          }
          .pinglun{
            width: 110%;
            margin: 0 auto;
            margin-left: -16px;
            padding: 1rem ;
            color: var(--main-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: .06em;
            background-color:var(--bg-body) ;
          }
        }
      }
      .aside{
        width: 20rem;
        margin-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        position:sticky;
        top: 3rem;
        .fingerpost{
          width: 100%;
          background-color: var(--bg-second);
          max-height: 260px;
          overflow: auto;
          display: flex;
          flex-direction: column;
          padding: 8px;
          margin-bottom: 8px;               
          .header{
            color: var(--main-text-color);
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 12px;
            height: 30px;
          }
          .main{
            flex: 1;
            width: 100%;
            overflow: auto;
            color: var(--main-text-color);
            ul li{
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              height: 32px;
              font-size: 14px;
              line-height: 20px;
              padding-left: 12px;
              padding-right: 16px;
            }
            ul li.active{
              color:  var(--primary-color);
            }
          }
          .main::-webkit-scrollbar{
              width: 6px;
          }
          .main::-webkit-scrollbar-thumb{
            width:6px;
            background-color: #f5f5f5;
            border-radius:5px;
          }
        }
        .catalogue{
          width: 100%;
          color:var(--main-text-color);
          display: flex;
          flex-direction: column;
          .mulu{
            color: var(--main-text-color);
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 12px;
            height: 30px;
          }
          ul{
            flex: 1;
            position: relative;
            max-height: 50vh;
            padding: 0 10px;
            overflow: auto;
          }
          li{
            padding:4px 0px 4px 12px;
            cursor: pointer;
          }
          li:hover{
            color:  var(--primary-color);
          }
          ul li.active{
            color:  var(--primary-color);
            background-color:  var(--bg-second);
          }
          .ul::-webkit-scrollbar{
                width: 6px;
          }
          .ul::-webkit-scrollbar-thumb{
            width:6px;
            background-color: #f5f5f5;
            border-radius:5px;
          }
        }
      }
    }
   
  }
  
  
  