// .inputs{
//     // padding: 2% 3%;
//     width: 100%;
//     flex: 1;
//     margin-top: 10%;
//     align-items: center;
//     display: flex;
//     justify-content: space-around;
//   }
  .new{
  
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  .top{
      width: 96%;
      height: 30%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin: 1% 2%;
  }
//   }
  .user{
   
      display: flex;
      flex-direction: column;
      // overflow-y: auto;
      justify-content: center;
  }
.ant-form
{

  flex: 1;
  display: flex;


}
