.commentContext {
  width: 100%;
  background-color: var(--bg-body);

  .commentList {
    width: 828px;
    margin: 0 auto;
    transition: 2s;
  }

  .pagination {
    margin-top: 16px;
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
    background-color:var(--bg-second);
    a,button{
      background-color:var(--bg-second);
      color:var(--main-text-color);
    }
  }
}

.aa1 {
  width: 58%;
  margin: auto;

  p {
    text-align: center;
    display: block;
    padding-top: 18px;
    font-size: 17px;
    color:var(--main-text-color);
  }
}

.xm {
  width: 828px;
  height: 100%;
  margin: auto;

  .p1 {
    width: 100%;
    height: 21px;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.topbox {
  width: 828px;
  height:230px;
   margin:0 auto;
}
@media screen and (max-width:768px){
  .topbox {
    width: 95%;
  }
  .commentContext{
    width: 95%;
    .commentList{
      width: 95%;
    }
  }
}
