@media screen and (max-width: 768px) {
  .detail{
    .left.width{
      width: 90%;
    }
  }
   .right{
     display: none;
   }
}

.detail{
  width: 100%;
  overflow-y: auto;
  background-color: var(--bg-code);;
  .detail_top{
    width: 100%;
    div{
      padding: 15px 0px;
      margin-left: 10%;
    }
  }
  .detail_bottom{
    width: 100%;

    .detail_container{
      width: 80%;
      margin:  0 auto;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;          //
      .left{
        width: 60%;
        flex: 1;
        margin: 0 auto;
        background-color:var(--bg-second);
        .left_con{
          width: 100%;
          padding: 15px;
          display: flex;
          flex-direction: column;
          
          section{
            flex: 1;
            .left_title{
              padding: 10px;
              font-weight: bold;
              font-size: 16px;
            }
            .left_img{
              width: 100%;
              border-radius: var(--border-radius);
              margin: 1rem auto;
              overflow: hidden;
              img{
                width: 100%;
                height: 100%;
                border-top-right-radius: var(--border-radius);
                border-top-left-radius: var(--border-radius);
                object-fit: cover;   //图片剪切，保留原始比例
              }
            }
          .left_content{   
            width: 100%;
            height: auto;
            .left_title{
              line-height: 50px;
              font-weight:bold ;
              font-size: 16px;
            }
            p{
              width: 100%;
              line-height: 40px;
              text-align:center;
              button{
                color: #fff;
                background: #f40a12;
                border-color: #f40a12;
                text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
                box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
                span{
                  display: inline-block;
                }
              }
            }
            .span{
              display: -webkit-box;
              max-width: 100%;
              margin-top: .8rem;
              // color: var(--second-text-color);
              overflow: hidden;
              font-size: 14px;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
            .spans{
                  width: 100%;
                  margin-top: .4rem;
                  color: #8590a6;
                  font-size: 14px;
                  line-height: 20px;
            }
          }  
          }
          .left_text{
            height: auto;
            .TIT{
              a{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 44px;
                font-size: 14px;
                line-height: 20px;
                padding-left: 12px;
                padding-right: 16px;
                color: var(--main-text-color);
                span:nth-child(2){
                  opacity: 0;
                }
              }
            }
            .TIT:hover{
              line-height: 40px;
              a{
                display: inline-block;
                line-height: 40px;
                display: flex;
                  span:nth-child(1){
                    color: #ff0064;
                  }
                  span:nth-child(2){
                    opacity: 1;
                    color: #ff0064;
                  }
              }
            }
          }
        }
      }
      .right{
        width: 20rem;
        margin-left: 1rem;
        background-color:var(--bg-second);
        .right_con{
          width: 100%;
          padding: 15px;
          display: flex;
          flex-direction: column;
          .Rtitle{
            padding: 10px;
            font-weight: bold;
            font-size: 16px;
        }
        li{
          list-style: none;
          width: 100%;
          padding: 16px;
          box-sizing: border-box;
          border-bottom: 1px solid #ccc;
          p{
            font-size: 16px;
            color: #666;
            span{
              display: inline-block;
              margin: 0 5px;
            }
            .title{
              font-weight: bold;
              color: #000;
            }
          }   
          P:hover{
            .title{
              color: #ff0064;
            }
          }
         
          .context_text{
            width: 100%;
            display: flex;
           .img{
            position: relative;
            flex: 0 0 auto;
            width: 190px;
            max-height: 150px;
            min-height: 100px;
            border-radius: var(--border-radius);
            margin-right: 1rem;
            overflow: hidden;
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              height: 100%;
              width: 100%;
              transform: translate3d(-50%,-50%,0);
              object-fit: cover;
            }
           }
           .text{
             color: #000;
             .text_title{
              display: -webkit-box;
              max-width: 100%;
              color: var(--main-text-color);
              overflow: hidden;
              font-size: 14px;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
             }
           }
          }
        }
        }
      }
    }
  }
}
