.context{
    width: 100%;
    font-size: 14px;
    background-color:  var(--bg-second);
    display: block;
    li{
      list-style: none;
      width: 100%;
      padding: 16px;
      box-sizing: border-box;
      border-top: 1px solid var(--border-color);
      a.contextTiTle{
        text-decoration: none;
        line-height: 40px;
        font-size: 16px;
        color: var(--main-text-color);
        span{
          display: inline-block;
          margin: 0 5px;
          cursor: pointer;
          color:#8590a6;
        }
        span::before{
          content: "|";
          padding-right: 5px;
          color: rgba(0,0,0,.06);
        }
        .title{
          font-weight: bold;
          color: var(--main-text-color) ;
        }
      }
      a:hover{
        .title{
          color: var(--primary-color);
        }
      }
     
      .context_text{
        width: 100%;
        display: flex;
        padding-top: 12px;
       .img{
        position: relative;
        flex: 0 0 auto;
        width: 190px;
        max-height: 150px;
        min-height: 100px;
        border-radius: var(--border-radius);
        margin-right: 1rem;
        overflow: hidden;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          transform: translate3d(-50%,-50%,0);
          object-fit: cover;
        }
       }
       .text{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         .text_title{
          display: -webkit-box;
          max-width: 100%;
          color: var(--main-text-color);
          overflow: hidden;
          font-size: 14px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
         }
         .geng{
         width: 100%;
         color: var(--main-text-color);
         font-size: 14px;
         margin-top: 1rem;
         margin-bottom: 0rem;
         svg{
           color:#8590a6;
           margin-right: 6px;
         }
         a,span{
          //  padding-left: 6px;
           color: var(--second-text-color);
         }
         b{
           font-size: 12px;
           color:#8590a6 ;
           margin: 0 8px;
         }
         }
       }
      }
    }
  }

