<template>
  <div>
    <div class="top">
      <p>北京</p>
      <input type="text" placeholder="搜索好物" />
    </div>
    <!-- 轮播图 -->
    <swiper autoplay class="swiper">
      <swiper-item v-for="item in banners" :key="item.id">
        <img :src="item.picUrl" alt="" mode="widthFix" />
      </swiper-item>
    </swiper>
    <!-- 服务端下发的配置 -->
    <ul class="widget">
      <li v-for="item in widgets" :key="item.img" @click="goWebview(item)">
        <img :src="item.img" alt="" mode="widthFix" />
        <span>{{ item.name }}</span>
      </li>
    </ul>
    <!-- 新品推荐 -->
    <ul v-if="operation.length">
      <div class="operate-title">
        <p>
          <span>新品推荐</span>
        </p>
      </div>
      <scroll-view scroll-x="true">
        <ul class="operate-list">
          <li
            @click="clickGoods(item[0].id)"
            v-for="item in operation[1].listData[0].items64"
            :key="item[0].id"
          >
            <div>
              <img :src="item[0].image" alt="" />
            </div>
            <span class="shop-title">{{ item[0].title }}</span>
            <p class="tags">
              <span v-for="value in item[0].briefTag.split(',')" :key="value">{{
                value
              }}</span>
            </p>

          </li>
        </ul>
      </scroll-view>
    </ul>
    <!-- 服务端下发的操作 -->
    <ul v-if="operation.length">
      <div class="operate-title">
        <p>
          <span>超值套餐</span>
        </p>
        <p @click="goMore">
          <span>更多</span>
        </p>
      </div>
      <scroll-view scroll-x="true">
        <ul class="operate-list">
          <li
            @click="clickGoods(item[0].id)"
            v-for="item in operation[1].listData[0].items64"
            :key="item[0].id"
          >
            <div>
              <img :src="item[0].image" alt="" />
            </div>
            <span class="shop-title">{{ item[0].title }}</span>
            <p class="tags">
              <span v-for="value in item[0].briefTag.split(',')" :key="value">{{
                value
              }}</span>
            </p>
          </li>
        </ul>
      </scroll-view>
    </ul>
    <!-- 服务端下发的分类 -->
    <div class="classify">
      <header>
        <span
          @click="currentTab = index"
          :class="{ active: currentTab === index }"
          v-for="(item, index) in pageTabs"
          :key="item.id"
          >{{ item.name }}</span
        >
      </header>
      <div class="container">
        <div class="left">
              <template v-for="(item, index) in left">
                  <rank v-if="item.type === 1" :key="index" :data="item.data"/>
                  <ad v-else-if="item.type === 3" :key="index" :data="item.data"/>
                  <goods v-else-if="item.type === 4" :key="index" :data="item.data"/>
                  <shop v-else :key="index" :data="item.data"/>
            </template>
        </div>
        <div class="right">
            <template v-for="(item, index) in right">
                  <rank v-if="item.type === 1" :key="index" :data="item.data"/>
                  <ad v-else-if="item.type === 3" :key="index" :data="item.data"/>
                  <goods v-else-if="item.type === 4" :key="index" :data="item.data"/>
                  <shop v-else :key="index" :data="item.data"/>
            </template>
        </div>


        <!-- <template v-for="(item, index) in shops">
          <item1 v-if="item.key === 1" :key="index" :data="item.data" />
          <item2 v-else-if="item.key === 2" :key="index" :data="item.data" />
          <item3 v-else-if="item.key === 3" :key="index" :data="item.data" />
          <item4 v-else :key="index" :data="item.data" />
        </template> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      currentTab: -1,
    };
  },
  components: {

  },
  computed: {
    ...mapState({
      banners: (state) => state.bigbrand.banners,
      widgets: (state) => state.bigbrand.widgets,
      operation: (state) => state.bigbrand.operation,
      pageTabs: (state) => state.bigbrand.pageTabs,
      shopQuery: (state) => state.bigbrand.shopQuery,
      shops: (state) => state.bigbrand.shops,
    }),
  },
  watch: {
    currentTab: {
      handler(value) {
        if (this.pageTabs.length) {
          // 改变tabId
          this.update({
            shopQuery: { ...this.shopQuery, tabId: this.pageTabs[value].id },
          });
          // 重新获取店铺列表
          this.getShopsByTab();
          console.log("当前选择的tab...", value);
        }
      },
      immediate: true,
    },
  },
  methods: {
    ...mapMutations({
      update: "bigbrand/update",
    }),
    ...mapActions({
      getBanner: "bigbrand/getBanner",
      homeWidget: "bigbrand/homeWidget",
      homeOperation: "bigbrand/homeOperation",
      getPageTabs: "bigbrand/pageTabs",
      getShopsByTab: "bigbrand/getShopsByTab",
    }),
    goWebview(item) {
      let src = item.link;
      if (/https?/.test(src)) {
        const query =
          "cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=40.041053771972656&longitude=116.29269409179688&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtehve5KF5K7Ah9lnzjih7IJjyxja08LJUIgGnVjoCTAVMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZBsg9bltst3W6RZ90iOxYPNXO1I530fC2A3EHxNYMeY-BTrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini";
        if (src.indexOf("?") !== -1) {
          src = src + "&" + query;
        } else {
          src = src + "?" + query;
        }
        wx.navigateTo({
          url: "/pages/webview/index?src=" + encodeURIComponent(src),
        });
      } else {
        wx.navigateToMiniProgram({
          appId: item.appId,
          path: item.appLink,
        });
      }
    },
    goMore() {
      // wx.switchTab({url: '/pages/brand/index'})
    },
    clickImg(url) {
      wx.navigateTo({ url: url });
    },
    clickGoods(id) {
      wx.navigateTo({ url: "/pages/goods/detail?id=" + id });
    },
  },
  async created() {
    this.getBanner();
    this.homeWidget();
    this.homeOperation();
    await this.getPageTabs();
    this.currentTab = 0;
  },
};
</script>

<style>
.top {
  width: 100%;
  height: 60px;
  background: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top input {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  background: rgb(238, 167, 154);
  padding-left: 30px;
}
.swiper img {
  width: 100%;
}
.widget {
  margin: 15rpx 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget li {
  width: 110rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.widget img {
  width: 100%;
}
.widget span {
  margin-top: 5rpx;
  font-size: 22rpx;
}
.operate-title img {
  width: 40rpx;
  vertical-align: text-top;
  margin-right: 10rpx;
}
.operate-title p:first-child span {
  font-size: 40rpx;
  font-weight: 500;
}
.operate-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 3%;
}
scroll-view {
  padding-left: 3%;
  box-sizing: border-box;
}
.operate-list li {
  flex-shrink: 0;
  width: 320rpx;
  margin-right: 10rpx;
}
.operate-list div {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  height: 260rpx;
}
.operate-list div img {
  width: 100%;
  height: 100%;
}
.operate-list .operate-title {
  font-weight: 500;
  margin: 5rpx 0;
}
.operate-list .tags span {
  margin-right: 10rpx;
  background: #fdf3e4;
  padding: 3px;
  color: #e99a3d;
  font-size: 22rpx;
}
.operate-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.classify header {
  margin: 10rpx 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.classify header span {
  font-weight: 500;
  font-size: 34rpx;
  padding: 8rpx 0;
  border-bottom: 3px solid transparent;
}
.classify header span.active {
  color: #de5146;
  border-bottom: 3px solid #d65146;
}

</style>
