.known{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    background: #E7EAEE; 
}
.left{
    width: 65%;
    float: left;
    height: 100%;
    background: #fff;
    padding: 0 15px;
}
.left h1{
    text-align: center;
}
.left .yuedu{
    text-align: center;
}
.left .weibu{
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.left h2{
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    padding-bottom: 10px;
}
.left li{
    margin-left: 15px;
    list-style: disc;
}
.right{
    width: 30%;
    float: left;
    margin-left: 5%;
    height: 100%;
}

.right_top{
    width: 100%;
    height: 100%;
    background: #fff;
}
// h4{
//     width: 95%;
//     height: 40px;
//     line-height: 30px;
//     margin: 10px;
//     border-bottom: 1px solid #ccc;
//     font-size: 18px;
// }
.right_bottom{
    margin-top: 20px;
    float: left;
}
.right_Category{
    width: 94%;
    height: 94%;
    margin: 3%;
}
.skip{
    width: 90%;
    margin: 20px 5%;
    height: 50px;
    border: 1px solid #ccc;
}
.programme{
    margin-left: 10px;
}
.uld{
    width: 100%;
    margin-left: 30px;
}
.uld li{
    list-style: none;
}
.prev{
    line-height: 50px;
    margin-left: 20px;
    float: left;
}
.next{
    float: right;
    line-height: 50px;
    margin-right: 20px;
}
.active{
    color: red;
}