@media screen and (min-width:1022px) {
    .fixed{
      position: fixed;
      z-index: 10;
      top: 30vh;
      transform: translateX(-100%);
      padding-right: 10px;
      p{
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-second);
        color: var(--disable-text-color);
        span:hover{
         color: var(--primary-color);
        }
      }
      .like{
        position: relative;
        .show{
            color: var(--primary-color);
        }
        b{
          position: absolute;
          right: -8px;
          top: -8px;
          font-size: 14px;
          font-weight: normal;
          width: 14px;
          height: 14px;
          line-height: 14px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          background-color:var(--primary-color);
          color: #fff;
        }
      }
    }
  }
  @media screen and (max-width:1022px) {
    .fixed{
      position: fixed;
      bottom: 0;
      padding-right: 0;
      width: 100vw;
      height: 52px;
      background-color: var(--bg-second);
      border-top: 1px solid var(--border-color);
      transform: translate(0);
      transition: all .2s;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      p{
        text-align: center;
        width: 32px;
        height: 32px;
        padding-top: 8px;
        box-sizing: border-box;
        font-size: 22px;
        border-radius: 50%;
        cursor: pointer;
        background: var(--bg-second);
        color: var(--disable-text-color);
        span:hover{
         color: var(--primary-color);
        }
        b{
          position: absolute;
          right: -5px;
          top: -5px;
          font-size: 12px;
          font-weight: normal;
        }
      }
      
      
      .like{
        position: relative;
        .show{
            color: var(--primary-color);
        }
        b{
          position: absolute;
          right: -5px;
          top:2px;
          font-size: 12px;
          font-weight: normal;
          width: 16px;
          height: 16px;
          line-height: 16px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          background-color:var(--primary-color);
          color: #fff;
        }
      }
    }
  }
  