<template>
  <div class="pageCheck">
      <div class="header">
          <input class="bgc_input" type="text" placeholder="输入城市名称">
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.header{
  background-color: #FFFFFF;
}
.bgc_input{
  background-color:#F1F1F1 ;
  font-size: 14px;
  border-radius: 20px;
  margin:10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
</style>