* {
  margin: 0px;
  padding: 0px;

}

html,
body {
  width: 100%;
  height: 100%;
 

}

.container {
  width: 100%;
  height: 100%;
 background-color: var(--bg-body);
  margin: auto;
  position: relative;
 padding-top: 15px;
}

.imgs {
  width: 60%;
  height:80%;
  margin: auto;
  background-color: red;
  img{
    width: 100%;
    height: 100%;
  }
}

.texts {
  width: 67%;
  height: 100%;
  margin: auto;

  h2 {
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding-top: 20px;
    color: var(--main-text-color);
    text-align: center;

  }
}
.aa{
  width: 100%;
  margin-top: 29px;
  background-color: #e7eaee;
}
.wes{
  width: 100%;
  height: 100%;
  margin-top: 29px;
  background-color: #e7eaee;
}
.xm{
  width: 828px;
  height: 100%;
  margin:auto;
  .p1{
    width: 100%;
    height: 21px;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width:900px) {
  .xm{
    width: 95%;
    height: 100%;
    margin:auto;
  }
}





