.regards{
    width: 100%;
    height: 120px;
    background-color: var(--bg-second);
    border-top: 1px solid  var(--border-color);
    color:var(--main-text-color);
    border: solid 1px var(--border-color);
}
.regards h2{
    text-align: center;
    // margin: 0 auto;
    font-size: 24px;
    color:var(--main-text-color);
    margin-top: 20px;
}
.regards p{
    // margin: 0 auto;
    text-align: center;
    font-size: 15px;
}
