
.right_bot{
    height:281px;
    background: #fff;
    border-radius: var(--border-radius);
    margin-bottom: 1.3rem;
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    line-height: 1.29;
    overflow: hidden;
    margin-top:20px;
}
.right_bot .right_botHeader{
    height: 56px;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
}
.right .right_Botcon{
    padding: 0 16px 16px;
}
.right_botContent{
    padding: 0 16px 16px;
}
.right_botContent li{
    padding: 8px 7px;
    border-radius: var(--border-radius);
    color: var(--second-text-color);
    line-height: 1.5em;
    transition: all .2s ease-in-out
}
.right_botContent p:hover{
    color: var(--primary-color);
}
.right_botContent li p{
  display: flex;

  justify-content: space-between;
  
}