@media screen and (max-width:768px){
    ._box_box {
       width: 768px; 
    }  
    .right{
        width: 0;
        display: none;
} 
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
    ._box_box{
        width: 768px; /*no*/
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    ._box_box{
        width: 970px; /*no*/
    }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
    ._box_box{
        width: 1140px; /*no*/
    }
}
._box_box{
    background: var(--bg-body);
    margin-right: auto;
    margin-left: auto;
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .left{
           flex: 1;
           width: calc(100% - 20rem - 1rem);
           padding-top: 1rem;
           padding-bottom: 1rem;
           margin-top: 18px;
           background-color: var(--bg-second);
           color: var(--main-text-color);     
    }
    .right{
        width: 20rem;
        margin-left: 1rem;
        padding-bottom: 1rem;
        height: 584px;
        position: sticky;
        top: 2rem;
    }
 }
}
.Item_title{
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-second);
    text-align: center;
    .conut{
        color: var(--primary-color);
    }
}
.Item_title .titlename{
    color: var(--primary-color);
    font-size: 1.5rem;
}
.Item_title .conut{
    color:"red";
    font-size:"1.1rem"
}
.Item_top,.Item_bot{
    padding: .5rem 1rem;
    border-radius: 4px;
}
h2{
    font-size: 1.5rem;
    color: var(--main-text-color); 
}
h3{
    color: var(--main-text-color); 
}
.MouthValue{
    padding: .5rem 1rem;
    border-radius: 4px;
    margin-top: .75rem;
}
.MouthValue ul{
    list-style: none;
    margin: 0;
    padding-left: 2.5rem;
}
.MouthValue li{
 position: relative;
 padding: .5rem 0;
}
.MouthValue li:before {
    position: absolute;
    top: 17px;
    left: -1rem;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: -4px;
    background-color: var(--disable-text-color);
    content: " ";
}
.Item_All .MouthValue li{
    p{
        width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}
.MouthValue li p span{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
}
.MouthValue li .timer{
    color:gray;
    padding-right:1em
}
.MouthValue li .spans{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--main-text-color); 
}
.right .right_top{
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    height: 280px;
    background: #fff;
    
}
.right .right_top .right_topHeader{
    height: 56px;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
}
.right .right_Botcon{
    padding: 0 16px 16px;
}
.rightBot_Botcon{
    padding: 0 16px 16px;
}
.right_topContent li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right_topContent li p{
    display: flex;
    justify-content: space-between;
}

.Item_All .MouthValue li .nav{
    color:black
}
.Item_All .MouthValue li.active:hover{
    color: var(--primary-color);
    .timer,.nav,.spans{
        color: var(--primary-color);
    }
}
.MouthValue li.active:hover:before {
    background-color: var(--primary-color);
}
