.wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color:#fff;
  input{
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      text-align:center;
  }
}
.room{
  div{
      height: 100%;
      overflow-y: scroll;
      height: calc(100vh - 124px);
      padding: 0 20px;
  }
  input{
      position: fixed;
      height: 60px;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 10px solid #000;
      outline: none;
      padding: 6px;
      font-size: 14px;
  }
}
.tip{
  color: gray;
  margin: 5px;
  text-align: center;
}
.message{
  span{
      padding-right: 15px;
  }
}