

  /*小屏幕*/
  @media screen and (max-width: 768px) {
    .knowledge{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .right{
      display: none;
    }
  }
  /*平板*/
  @media screen and (min-width: 768px) and (max-width: 992px){
      .knowledge{
          width: 768px; /*no*/
      }
  }
  /*中等屏幕*/
  @media screen and (min-width: 992px) and (max-width: 1200px){
      .knowledge{
          width: 970px; /*no*/
      }
  }
  /*大屏幕，或者宽屏*/
  @media screen and (min-width: 1200px) {
      .knowledge{
          width: 1140px; /*no*/
      }
  }
  
  
.knowledge{
    background: var(--bg-body);
    margin-right: auto;
    margin-left: auto;
    .container{
        margin: 0 auto;
        background: var(--bg-body);   //====================
        .container_box{
          display: flex;
          justify-content: center;
          box-sizing: border-box;  //===盒子大小
          flex-wrap: wrap;         //===响应式布局
          .box_left{
            flex: 1;
            width: 50%;
            margin-top: 26px;
            padding-bottom: 20px;
            background-color: var(--bg-second);    //==================
            .box_left_text{
              width: 100%;
              background-color:white;
            }
          }
          .box_right{
            width: 320px;
            margin-left: 20px;
            padding-top: 10px;
            padding-bottom: 20px;
          }
        }
    }
}