.head{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
}
.box{
    width: 300px;
    margin: 20px 0px 0px 40px;
    input{
        width: 180px;
        border: solid 1px #ccc;
    }
    select{
        width: 180px;
        border: solid 1px #ccc;
    }
}
.btn{
    margin-top: 90px;
    Button:nth-child(2){
        margin-left: 20px;
        border: solid 1px #ccc;
        color: black;
    }
}
.cont{
    margin-top: 20px;
}