.route{
    margin-top: 1rem;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--bg-second);
    display: flex;
    align-items: center;
    a{
      color:var(--main-text-color);
      padding:  0 12px;
    }
    .active{
      color: var(--primary-color);
    }
  }