@media screen and (min-width: 768px) {
  .containe {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .containe {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .containe {
    width: 1140px;
  }
}

@media screen and (max-width: 768px) {
  .containe {
    width: 100%;
    padding: 0 15px;
  }

  .right {
    display: none;
  }

}

.containe {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left {
  flex: 1;
  width: calc(100% - 20rem - 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  max-height: 100vh;
}

.ltop {
  width: 100%;
  color: var(--disable-text-color);
  background: var(--bg);
  text-align: center;
  margin-top: 15px;
}

.ltop .red {
  color: red
}

.main {
  margin-top: 10px;
}

.bottom {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
}
