.category{
    width: 100%;
    display: flex;
}
.categoryLeft{
    width: 445px;
    height: 267px;
    background-color: #ffffff;
}
.categoryRight{
    width: 752px;
    height: 141px;
    background-color: #ffffff;
    margin-left: 20px;
}
.categoryLeftHight{
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 15px;
    border-bottom: 1px #ebe6e6 solid;
}
.categoryLeftHight p{
    margin-left: 25px;
}
.categoryLeftBottom{
    width: 100%;
    height: 208px;
}
.categoryLeftBottom Input{
    width: 395px;
    margin-left: 25px;
    margin-top: 25px;
}
.categoryLeftBottom Button{
    margin-top: 30px;
    margin-left: 25px;
}