.ant-breadcrumb{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    color: rgba(0,0,0,.85);
    font-size: 14px;
}
.header{
    position: relative;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    z-index: 100;
}
.ant-breadcrumb a {
    color: rgba(0,0,0,.85);
    transition: color .3s;
}

.ant-breadcrumb, .ant-breadcrumb-separator, .ant-breadcrumb a {
    color: rgba(0,0,0,.45)!important;
}
.ant-layout, .ant-layout * {
    box-sizing: border-box;
}
a, a:hover {
    color: inherit;
}
.ant-breadcrumb>span:last-child, .ant-breadcrumb>span:last-child a {
    color: #000;
}

.ant-breadcrumb>span:last-child a {
    color: rgba(0,0,0,.65)!important;
}
.ant-breadcrumb a {
    color: rgba(0,0,0,.85);
    transition: color .3s;
}
.ant-breadcrumb, .ant-breadcrumb-separator, .ant-breadcrumb a {
    color: rgba(0,0,0,.45)!important;
}
.mail>.ant-layout-content{
    flex: 1;
    padding: 24px;
    overflow: auto;
}
.ant-form .ant-form-horizontal{
    padding: 24px 12px;
    margin-bottom: 16px;
    background: #fff;
    margin: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}
.ant-row .ant-form-item{
    margin-left: -12px;
    margin-right: -12px;
    row-gap: 0px;
}
p{
    display: flex;
    flex-direction: row;
}
.ant-btn .ant-btn-primary{
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: #000;
    background: #fff;
    border: 1px solid #d9d9d9;
}