.known{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    background: #E7EAEE; 
}
.left{
    width: 65%;
    float: left;
    height: 100%;
}
.right{
    width: 30%;
    float: left;
    margin-left: 5%;
    height: 100%;
}
.uls{
    width: 100%;
    height: 100%;
    background: #fff;
}
.uls li{
    width: 100%;
    height: 145px;
    margin: 10px 0px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    padding-left: 15px;
}
.uls li img{
    width: 190px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.uls .pcc{
    width: 100%;
    height: 16px;
    font-size: 17px;
    font-weight: bold;
    float: left;
}
.uls .pan{
    margin-top: 55px;
}
.pan .tubiao{
    margin: 0 10px;
}
.pan .tubiao span{
    margin: 0 5px;
    line-height: 20px;
    height: 20px;
}
.right_top{
    width: 100%;
    height: 100%;
    background: #fff;
}
.detail_list{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 10px;
    
}
h4{
    width: 95%;
    height: 40px;
    line-height: 30px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}
.right_bottom{
    margin-top: 20px;
    background: #fff;
    float: left;
}
.right_Category{
    width: 94%;
    height: 94%;
    margin: 3%;
}
.right_Category li{
    width: 100%;
    float: left;
    margin: 10px 0;
    
}
.wenzhang1{
    float: left;
}
.wenzhang2{
    float: right;
}