.copy-btn{
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: hsla(0,0%,54.9%,.8);
  transition: color .1s;
  border: none;
  background: transparent;
 margin-right: 2px;
}
.markdown{
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  letter-spacing: 1.2px;
  color: var(--main-text-color);
  padding: 0 1rem;
}