.top{
  width: 100%;
  height: 150px;
  background-color: white;
  line-height: 30px;
  h1{
    font-size: 50px;
    font-weight: 700;
  }
}
.quick{
  margin: 0 auto;
  width: 98%;
  height: 100px;
  background-color: white;
  margin-top: 20px;
}
