<template>
  <div class="my">
    <div class="xx">
      <!-- <img src='no3-group\minApp\my-project\src\static\14.jpg' alt=""> -->
      <div class="right">
        <div class="img"></div>
        <div class="yh">
          <h1>{{ list.nickName }}</h1>
          <span>用户ID:9945565</span>
        </div>
      </div>
      <div class="pro" @click="goextend()">加入推广</div>
    </div>
    <div class="content">
      <div class="top">
        <div class="top_left">
          <img :src="you" alt="" class="icon" />
          <p>优惠券</p>
        </div>
        <p class="a1">|</p>
        <div class="top_right">
          <img :src="chang" alt="" class="icon" />
          <p>收藏</p>
        </div>
      </div>
      <div class="bottom">
        <div class="li">
          <p>订单</p>
          <p class="quan" @click="goOrder()">全部订单></p>
        </div>
        <div class="gn">
          <div @click="goPayment()">
            <img :src="fu" alt="" class="icons" />
            <p>代付款</p>
          </div>
          <div @click="goDeliver()">
            <img :src="fa" alt="" class="icons" />
            <p>代发货</p>
          </div>
          <div @click="goViable()">
            <img :src="ke" alt="" class="icons" />
            <p>可使用</p>
          </div>
          <div @click="goEvaluate()">
            <img :src="qing" alt="" class="icons" />
            <p>待评价</p>
          </div>
          <div @click=" goViable()">
            <img :src="hou" alt="" class="icons" />
            <p>退款/售后</p>
          </div>
        </div>
      </div>
    </div>
    <div class="my_content">
      <div class="content_left">
        <div class="img1">
          <img :src="xin" alt="" class="iconss" />
        </div>
        <div>
          <p>零管中心</p>
          <p>免费领取优惠券</p>
        </div>
      </div>
      <div class="content_right">
        <div class="img1">
          <img :src="lag" alt="" class="iconss" />
        </div>
        <div>
          <p>美味精选</p>
          <p>美味旗下官方商城</p>
        </div>
      </div>
    </div>
    <div class="my-bottom">
      <div>
        <p>意见返回</p>
        <p>》</p>
      </div>
      <div>
        <p>设置</p>
        <p>》</p>
      </div>
      <div>
        <p><span>联系我们</span><span>400-8166-477</span></p>
        <p>》</p>
      </div>
    </div>
  </div>
</template>
<script>
// import './index.css'

import {mapState,mapMutations,mapActions} from 'vuex'
// require you from '../../static/my/you.png'
export default {
  data() {
    return {
       you:require('../../static/my/you.png'),
       chang:require('../../static/my/chang.png'),
       fu:require('../../static/my/fu.png'),
       fa:require('../../static/my/fa.png'),
       ke:require('../../static/my/ke.png'),
       qing:require('../../static/my/qing.png'),
       hou:require('../../static/my/hou.png'),
       xin:require('../../static/my/xin.png'),
       lag:require('../../static/my/lng.png')
    }
  },
  computed:{
       ...mapState({
         list:state=>state.my.list,
       })
  },
  methods: {
    ...mapMutations({
      update:"/my/updata"
    }),
    ...mapActions({
      myList:'my/myList'
    }),
    goextend(){
       wx.navigateTo({url:"/pages/mydetail/extend"})
    },
    goOrder(){
       wx.navigateTo({url:"/pages/mydetail/order"})
    },
     goDeliver(){
       wx.navigateTo({url:"/pages/mydetail/deliver"})
    },
    goEvaluate(){
       wx.navigateTo({url:"/pages/mydetail/evaluate"})
    },
    goPayment(){
       wx.navigateTo({url:"/pages/mydetail/payment"})
    },
    goRefund(){
       wx.navigateTo({url:"/pages/mydetail/redund"})
    },
    goViable(){
       wx.navigateTo({url:"/pages/mydetail/viable"})
    }
  },
  created() {
    this.myList()
  },
};
</script>

<style>
.quan {
  color: #ccc;
}
.iconss {
  width: 100%;
  height: 100%;
  display: flex;
}
.top_left {
  /* flex: 1; */
  display: flex;
  align-items: center;
  /* justify-content: space-around ; */
}
.top_right {
  /* flex: 1; */
  display: flex;
  align-items: center;
  /* justify-content: space-around ; */
}
.icons {
  width: 40px;
  height: 25px;
}
.icon {
  width: 25px;
  height: 30px;
  display: flex;
  /* background-color: red; */
}
.my {
  width: 100%;
  height: 100%;
  display: flex;
}
.my-bottom {
  width: 95%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.my-bottom > div {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_content > div > div > p:nth-child(2) {
  font-size: 12px;
  color: #ccc;
}
.my_content {
  width: 90%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.img1 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
  margin-left: 0.3rem;
}
.content_left {
  width: 46%;
  height: 4rem;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(245, 226, 226);
  align-items: center;
}
.content_right {
  width: 46%;
  height: 4rem;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(245, 226, 226);
  align-items: center;
}
.my {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top {
  width: 90%;
  height: 3rem;
  /* line-height: 30px; */
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
.yh {
  margin-left: 1rem;
}
.yh > span {
  color: #ccc;
}
.gn > div {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gn {
  width: 100%;
  /* flex: 1; */
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-around;
}
.xx {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
}
.right {
  display: flex;
}
.img {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}
.pro {
  width: 100px;
  height: 35px;
  background-color: rgba(223, 17, 17, 0.658);
  text-align: center;
  line-height: 35px;
  border-radius: 50px;
  color: aliceblue;
}
.content {
  width: 90%;
  height: 11rem;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  /* margin-top: 10px; */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(245, 226, 226);
}
.li {
  width: 95%;
  /* flex: 1; */
  height: 3rem;
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.bottom {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.a1 {
  color: #ccc;
}
</style>
