.tou{
    width: 100%;
    // display: flex;
    // background-color: #ffffff;
}
.top{
    width: 100%;
    height: 130px;
    background-color: #ffffff;
}
.top Input{
    width: 247px;
    margin-top: 15px;

}
.title{
    margin-left: 50px;
}
.topzt{
    width: 180px;
    margin-left: 50px;
}
.topzt svg{
    margin-top: 10px;
}
.topfl{
    width: 180px;
    margin-left: 50px;
}
.topfl svg{
    margin-top: 10px;
}
.btn{
    margin-top: 40px;
    float: right;
    margin-right: 10px;
}
.xj{

    width: 100%;
    height: 60px;
    background-color: #ffffff;
   margin-top: 15px;
}
.xj Button{
    float: right;
    margin-top: 20px;
}
.button Table{
    margin-top: -15px;
}
