.aa {
    width: 100%;
    height: 100%;
    margin-top: 29px;
    background-color: var(--bg-second);
    .textboxs {
      width:100%;
      background-color: var(--bg-second);
      padding-top: 10px;
      margin:  auto;
      .input{
        span{
          background-color: var(--bg-second);
          color: var(--main-text-color);
        }
      }
      .inpu {
        background-color: var(--bg-second);
        width: 95%;
        height: 142px;
        margin: auto;
      }
      
    }
  }
  .icons-list {
    span {
      padding-left: 5px;
    }
   
  }
  .ss {
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--bg-second);   
  }
  
  @media screen and (max-width:900px) {
    .container {
      width: 100%;
      height: 100%;
      margin: auto;
  
      margin-top: 15px;
    }
  
    .aa {
      width: 100%;
      height: 100%;
      margin-top: 29px;
  
      .aa1 {
        width: 100%;
        margin: auto;
  
        p {
          text-align: center;
          display: block;
          padding-top: 18px;
          font-size: 17px;
        }
      }
  
      .textboxs {
        width: 95%;
        height: 250px;
        background-color: var(--bg-second);
        margin: auto;
  
        .inpu {
          width: 95%;
          height: 142px;
          margin: auto;
  
        }
  
      }
  
    }

  }
  
  footer {
    width: 95%;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
  }
  
  footer span {
    width: 25px;
    color: #A6A6A6;
  }
  
  footer .bq {
    font-size: 16px;
  }
  
  .ss>span {
    color: black;
  }
  
  footer .icon:hover {
    span {
      color: red;
    }
  
    cursor:pointer;
  }
.Popouts {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .BouncedContent {
    //这是弹框
    width: 40%;
    height: 250px;
    margin: auto;
    background-color: white;
    margin-top: 150px;
  }
  .ws{
     width:85%;
     margin-top: 15px;
    
  }
  .taps{
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 44px;
    border-bottom: 1px solid #e7eaee;
    display: flex;
    justify-content: space-between;
  
  }
  .lef{
    width: 100%;
    height: 100%;
    margin-left: 15px;
  }
  .rig{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  .yy{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 73px;
  }
  .ssk{
    background-color: red;
    color: white;
    border: none;
  }
  .ssk1{
    background-color: white;
    color: black;
    border: 1px solid #e7eaee;
  }

  @media screen and (max-width:1100px) {

    .BouncedContent {
      //这是弹框
      width: 55%;
      height: 250px;
      margin: auto;
      background-color: white;
      margin-top: 150px;
    }

  }

  @media screen and (max-width:900px) {

    .BouncedContent {
      //这是弹框
      width: 65%;
      height: 250px;
      margin: auto;
      background-color: white;
      margin-top: 150px;
    }

  }

  .aq{
    width: 510px;
    height: 260px;
    overflow-y: auto;
    background-color:white;
    position: absolute;
    left: 20px;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      font-size: 25px;
    }
  }
.aq::-webkit-scrollbar{
    width: 6px;
}
.aq::-webkit-scrollbar-thumb{
  width:6px;
  background-color: #ccc;
  border-radius:5px;
}