.ant-menu .ant-menu-root .ant-menu-inline .ant-menu-dark{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  img {
    width: 32px;
    height: 32px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
  }
}
.top_header {
  color: black;
  position: relative;
  padding: 12px 24px;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  z-index: 100;
  border-bottom: 1px solid #ccc;
}
.Content {
  margin-top: 38px;
  // background-color: #fff;
}
.footer {
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  background: #e7eaee;
}
.layout {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  color: var(--text-primary-color);
}
