// 全局样式，常用于覆盖三方样式

// 局部样式，常用于业务内部使用，防止全局污染

// 默认是局部样式
.article{
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    .active:hover{
       color: red;    
    }
    .left{
        width: 69%;
        display: flex;
        flex-direction: column;
        .left_top{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #fff;
            box-sizing: border-box;
            span{
                font-size: 22px;
                color: var(--primary-color);
            }
        }
        .left_bottom{
            width: 100%;
            padding:0 10px;
            margin-top: 20px;
            background-color: #fff;
            box-sizing: border-box;
            cursor: pointer;
            .left_bottom_title{
                display: flex;
                width: 100%;
                flex-direction: column;
                height: 120px;
                margin-bottom: 20px;
               div{
                   flex: 1;
                   display: flex;
                   align-items: center;
                    a{
                        display: inline-block;
                        padding: 3px 6px;
                        background-color: burlywood;
                        color: black;
                        margin-right: 10px;
                        border-radius: 3px;
                        text-align: center;
                        border: 1px solid #ccc;
                    }
                    a:hover{
                        color: red;  
                        border: 1px solid #ccc;  
                    }
               }
            }
           
        }

        .left_bottom_content{
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #fff;
            box-sizing: border-box;
            cursor: pointer;
            .every{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                .choose{
                    span{
                        margin-right: 20px;
                    }
                }
                .titles:hover{
                    color: red;
                }
                .titles{
                    font-weight: 600;
                    font-size: 18px;
                }
                .small_every{
                    display: flex;
                    height: 110px;
                    align-items: center;
                  
                    .every_img{
                        margin-right: 10px;
                        width: 190px;
                        height: 100px;
                    }
                    .every_right{
                        flex: 1;
                        p{
                            span{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .right{
        width: 28%;
        height: 100%;
        margin-left: 3%;
        .right_top{
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
            height: 258px;
            margin-bottom: 20px;
            overflow: hidden;
            background-color: #fff;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 50px;
                border-bottom: 1px solid rgb(221, 220, 220);
                margin-bottom: 10px;
            }
            div{
                line-height: 32px;
                .detail_list:hover{
                    color: red;
                    cursor: pointer;
                }
            }
        }
        .right_bottom{
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
            height: 300px;
            background-color: #fff;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 60px;
                border-bottom: 1px solid rgb(221, 220, 220);
                margin-bottom: 10px;
            }
            .right_tags{
                cursor: pointer;
                width: 100%;
                color: #999;
                height: 100%;
                div{
                    display: flex;
                    justify-content: space-between;
                    a{
                        padding: 0 10px;
                        color: #999;
                        line-height: 25px;
                        margin: 0 10px 10px 0px;
                        box-sizing: border-box;
                    }
                    a:hover{
                        color: red;
                    }
                }
                .right_tags_once:hover{
                    color: red;
                }
            }
           
        }
    }

}
