.header {
  display: block;
  position: relative;
  width: 100%;
  height: 64px;
  transition: all .3s ease-in-out;
  z-index: 100;
}

.rootbox {
  height: 100%;
  overflow: auto;
}

.rootbox::-webkit-scrollbar {
  width: 6px;
}

.rootbox::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.box {
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
  position: 1s;
}

.gotop {
  font-size: 24px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  user-select: none;
  cursor: pointer;
  z-index: 999;
}

.content {
  position: relative;
  display: flex;
  background: var(--bg);
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
  }
}

.icon {
  height: 64px;
  margin-right: 4rem;
  color: var(--main-text-color);
  line-height: 64px;
  text-align: left;

  img {
    height: 36px;
  }
}

.main {
  position: absolute;
  min-height: 500px;
  right: 15px;
  display: none;
  color: var(--main-text-color)
}

nav {
  height: 64px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
  font-size: 16px;

  .ul {
    width: 100%;
    margin-bottom: 0;
  }

  li {
    display: inline-flex;
    padding: 0 20px;
    vertical-align: middle;
    line-height: 64px;
    font-size: 16px;
  }

}

.footerText {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  color: #c1bdbd;
  background: var(--bg-footer);
  text-align: center;
}

.right {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  float: right;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 64px;
}

@media screen and (min-width: 1200px) {
  .content {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px){
  .content{
    width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    width: 768px;
  }
  .right{
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .box {
    display: block;
  }

  .content {
    width: 100%;
  }

  .main {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    max-height: 0;
    padding: 0 15px;
    margin-left: 0;
    background-color: var(--bg);
    overflow: hidden;
    transition: max-height .25s;
    z-index: 100;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    font-size: 16px;

    .ul {
      li,
      .right {
        text-align: center;
      }
    }
  }

  .checkednav {
    display: block;
    max-height: 100vh;
    overflow: auto;
    height: auto;

    .ul>li:first-child {
      margin-top: 24px;
    }

    .ul {
      width: 100%;
      position: relative;

      li,
      .right {
        padding-left: 0;
        display: block;
        padding: 0;
        line-height: 48px;
        float: none;
      }
    }
  }
}

.wapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s;
  background-color: var(--bg);
}

.mobileNav{
  position: absolute;
  transform: translate(0, -50%);
  right: 15px;
  span{
      display: block;
      width: 25px;
      height: 4px;
      border-radius: var(--border-radius);
      background-color: var(--primary-color);
      opacity: 1;
      transition: all 250ms ease-in-out 0s;
  }
  span:nth-child(2){
      margin: 5px 0;
      // color: var(--main-text-color);
  }
}
.mobileNav.active{
  span:nth-child(2){
      opacity: 0;
  }
  span:nth-child(1){
      transform: translateY(9px) rotate(45deg);
  }
  span:nth-child(3){
      transform: translateY(-9px) rotate(-45deg);
  }
}