<template>
    <web-view :src="src"></web-view>
</template>

<script>
export default {
    data(){
        return {
            src: ''
        }
    },
    onShow(){
        this.src = decodeURIComponent(this.$mp.query.src);
    }
}
</script>

<style>

</style>