.right_top{
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    height: 258px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        border-bottom: 1px solid rgb(221, 220, 220);
        margin-bottom: 10px;
    }
    div{
        line-height: 32px;
    }
    .detail_list:hover{
        color: red;
        cursor: pointer;
    }
}