
  /*小屏幕*/
@media screen and (max-width: 768px) {
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .right{
    display: none;
  }
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .container{
        width: 768px; /*no*/
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    .container{
        width: 970px; /*no*/
    }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
    .container{
        width: 1140px; /*no*/
    }
}


.container{
  background: var(--bg-body);
  margin-right: auto;
  margin-left: auto;
  .context{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .left{
      flex: 1;
      width: calc(100% - 20rem - 1rem);
      padding-bottom: 1rem;
      .swiper{
        width: 100%;
        height: 320px;
        padding: 10px 0;
        box-sizing: border-box;
        margin-top: 1rem;
        background-color: var(--bg-second);
        .img{
          overflow: hidden;
          width: 98%;
          height: 100%;
          margin:  0 auto;
          .imgbox{
            width: 100%;
            height: 100%;
            .dialog1,.dialog2{
              position: relative;
              width: 100%;
              height: 300px;
              overflow: hidden;
            }
            .dialogcontext1,.dialogcontext2{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              color: #fff;
              background-color: rgba(0,0,0,.35);
              z-index: 1;
              font-size: 1rem;
              h2{
                color: #fff;
              }
            }
            img{
              width: 100%;
              height: 300px;
            }
            
          }
        }
      }
    }
    .right{
      width: 20rem;
      height: 100vh;
      margin-left: 1rem;
      padding-bottom: 1rem;
      position:sticky;
      top: 2rem;
    }
  }
}


