// 全局样式，常用于覆盖三方样式

// 局部样式，常用于业务内部使用，防止全局污染

// 默认是局部样式
.article{
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    .active:hover{
       color: red;    
    }
    .left{
        width: 69%;
        .left_top{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #fff;
            box-sizing: border-box;
            span{
                font-size: 22px;
                color: var(--primary-color);
            }
        }
        .left_bottom{
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #fff;
            box-sizing: border-box;
            cursor: pointer;
            .left_bottom_title{
                width: 100%;
                line-height: 50px;
                border-bottom: 1px solid #ccc;
                a{
                    display: inline-block;
                    width: 60px;
                    color: black;
                    text-align: center;
                }
                a:hover{
                    color: red;    
                }
            }
            .every{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #ccc;
                .choose{
                    span{
                        margin-right: 20px;
                    }
                }
                .titles:hover{
                    color: red;
                }
                .titles{
                    font-weight: 600;
                    font-size: 18px;
                }
                .small_every{
                    display: flex;
                    height: 110px;
                    align-items: center;
                  
                    .every_img{
                        margin-right: 10px;
                        width: 190px;
                        height: 100px;
                    }
                    .every_right{
                        flex: 1;
                        p{
                            span{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .right{
        width: 28%;
        height: 100%;
        margin-left: 20px;
        .right_bottom{
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
            height: 183px;
            background-color: #fff;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 50px;
                border-bottom: 1px solid rgb(221, 220, 220);
                margin-bottom: 20px;
            }
            .right_tags{
                cursor: pointer;
                width: 100%;
                height: 100%;
                li{
                    padding: 0 6px;
                    margin: 0 10px 10px 0px;
                    display: inline-block;
                    box-sizing: border-box;
                    border: 1px solid rgb(221, 220, 220);
                    span{
                        margin-right: 5px;
                    }
                }
                li:hover{
                    color: red;
                    border: 1px solid red;
                }
            }
           
        }
    }

}
