
.commentItem{
    width: 100%;
    padding: 16px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    color:var(--main-text-color);
    background-color:var(--bg-second);
    .img{
        display: flex;
        align-items: center;
        span{
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            line-height: 32px;
            text-align: center;
            background-color: aqua;
            color:var(--main-text-color);
            font-weight: bold;
        }
        b{
            padding: 0 8px;
        }
    }
    .commentText{
        padding-left: 40px;
        .content{
        padding: 12px 0px;
        }
        .time{
        color: #999;
        span{
            padding: 0 3px;
        }

        }
    }
}

