.file{
    width: 100%;
    // height: 100%;
    overflow:auto;
}
.file_content{
    width: 95%;
    margin:0 auto;
}
.file_upload{
    margin:20px 0 ;
}
.file_form{
    height:23%;
    padding-left: 20px;
    background-color: #fff;
    margin: 20px 0;
    form{
      padding: 20px 0;
    }
    button{
      margin-top:20px;
    }
  }

.file_Item{
    background-color: #fff;
    width: 100%;
    height: 80%;
    .file_item_list{
        display: flex;
        flex-wrap: wrap;
        li{
            transition:box-shadow 0.4s;
            height: 40%;
            margin:10px;
            flex: 20%;
            overflow:hidden;
            border: 1px solid #eee;
            border-radius: 2px;
            .img{
                width: 100%;
                height: 200px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .file_item_text{
                margin: 10px;
                line-height: 40px;
                span{
                    margin-left: 10px;
                    padding-top: 10px 0;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    display: block;
                    font-size: 18px;
                }
                span:nth-child(2){
                    font-size: 14px;
                    color: #333;
                }
            }
        }
        li:hover{
            box-shadow:3px 3px 3px 3px #ccc;
        }
    }
}
.file_Item_to{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.file_page{
    text-align: right;
    padding: 15px;
}
.file_details{
    width: 95%;
    margin:0 auto;
    li{
        line-height: 40px;
        font-size: 12px;
        img{
            width: 100%;
            height: 360px;
        }
        span{
            display: inline-block;
        }
    }
    li:nth-child(5){
        display: flex;
        align-items: center;
        span{
            width: 80%;
            display: inline-block;
            border: 1px solid #ccc;
            line-height: 30px;
            margin-top: 10px;

        }
    }
    li:last-child{
        color: #29a2ff;
    }
}
.File_details_item3{
    span:nth-child(2){
        display: inline-block;
        margin:0 120px;
    }
}
.File_details_remove{
  text-align: right;
  margin-top:20px;
  button{
      margin:0 5px;
  }
}