.right{
    width: 320px;
    margin: 0 auto;
    .recommend{
      margin-top: 1rem;
      width: 100%;
      background-color: var(--bg-second);
      border: solid 1px var(--border-color);
      border-radius: 5px;
      a{
        text-decoration: none;
        color: var(--main-text-color);
      }
      .recommendTitle{
        display: inline-block;
        width: 100%;
        padding: 16px;
        font-weight: bold;
        color: var(--main-text-color);
        border-bottom: 1px solid var(--border-color);
      }
      .recommend_text{
        width: 100%;
        padding-left: 16px;
        box-sizing: border-box;
        line-height:35px;
        font-size: 16px;
        display: -webkit-box;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: all .2s ease-in-out;
        .time{
          color:var(--second-text-color);
        }
      }
      .recommend_text:hover{
        color: var(--primary-color);
        cursor: pointer;
        .time{
          color:var(--primary-color);
        }
      }
    }
    .label{
      width: 100%;
      margin-top: 1rem;
      background-color: var(--bg-second);
      border: solid 1px var(--border-color);
      border-radius:var(--border-radius);
      .labelTitle{
        display: inline-block;
        width: 100%;
        padding: 16px;
        font-weight: bold;
        color: #000;
        border-bottom: 1px solid var(--border-color);
      }
    }
}