<template>
  <div class="order">
    <div class="din">
      <p><span>排隊訂單</span><span>></span></p>
      <p><span>预约订单</span><span>></span></p>
      <p><span>点菜订单</span><span>></span></p>
      <p><span>在线支付</span><span>></span></p>
      <p><span>卡卷订单</span><span>></span></p>
      <p><span>美生活订单</span><span>></span></p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
  .order{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }
  .din
  {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    
  }
  .din>p{
      width: 100%;
      height: 2rem;
      display: flex;
        align-items: center;
      justify-content: space-between;
  }
</style>
