// 全局样式，常用于覆盖三方样式
// :global{
   
// }
// 局部样式，常用于业务内部使用，防止全局污染

// 默认是局部样式

.article{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    .active:hover{
       color: red;    
    }
    .left{
        width: 69%;
        .left_top{
            width: 100%;
            height: 330px;
            padding: 10px;
            background-color: #fff;
            box-sizing: border-box;
            .carousel_top{
                width: 100%;
                height: 310px;
                background-image: url(https://wipi.oss-cn-shanghai.aliyuncs.com/2021-05-13/internet-emerge-econ_1200x675_hero_071317.jpeg);
                background-size: 100% 100%;
                div{
                    color: #fff;
                    text-align: center;
                    margin-top: 100px;
                }
            }
            .carousel_bottom{
                width: 100%;
                height: 310px;
                background-image: url(https://wipi.oss-cn-shanghai.aliyuncs.com/2021-05-13/telework-5059653_1280.webp);
                background-size: 100% 100%;
                div{
                    color: #fff;
                    text-align: center;
                    margin-top: 100px;
                }
            }
        }
        .left_bottom{
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #fff;
            box-sizing: border-box;
            cursor: pointer;
            .left_bottom_title{
                width: 100%;
                line-height: 50px;
                border-bottom: 1px solid #ccc;
                a{
                    display: inline-block;
                    width: 60px;
                    color: black;
                    text-align: center;
                }
                a:hover{
                    color: red;    
                }
            }
        }
    }
    .right{
        width: 28%;
        height: 100%;
        margin-left: 20px;
    }

}
