.right_bottom{
    padding: 0px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 183px;
    background-color: #fff;
    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        border-bottom: 1px solid rgb(221, 220, 220);
        margin-bottom: 20px;
    }
    .right_tags{
        cursor: pointer;
        width: 100%;
        height: 100%;
        li{
            padding: 0 6px;
            margin: 0 10px 10px 0px;
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid rgb(221, 220, 220);
            span{
                margin-right: 5px;
            }
        }
        li:hover{
            color: red;
            border: 1px solid red;
        }
    }
   
}