.search{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    overflow: auto;
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 80%;
        margin:30px auto;
        ._3jmZKBfWYIlO69xDtpXPz_ {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 600;
        }
        ._2qpDZJMLbJxyMk-9FsT68G {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            color: var(--disable-text-color);      
        }
        .anticon {
            display: flex;
            flex-direction: column;
            color: inherit;
            font-style: normal;
            line-height: 0;
            color: var(--disable-text-color);
            cursor: pointer;
            text-align: center;
            text-transform: none;
            vertical-align: -.125em;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.header ._2qpDZJMLbJxyMk svg {
    width: 25px;
    height: 25px;
}
.input{
    line-height: 3rem;
    width: 80%;
    margin-left: 10%;
    border: none;
    font-size: 20px;
    border: 1px solid rgb(230, 229, 229);
}
.ul{
    width: 80%;
    margin:30px auto;
    li{
        line-height: 50px;
    }
}