.every{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    .choose{
        span{
            margin-right: 20px;
        }
    }
    .titles:hover{
        color: red;
    }
    .titles{
        font-weight: 600;
        font-size: 18px;
    }
    .small_every{
        display: flex;
        height: 110px;
        align-items: center;
      
        .every_img{
            margin-right: 10px;
            width: 190px;
            height: 100px;
            overflow: hidden;
        }
        .every_right{
            flex: 1;
            p{
                span{
                    margin-left: 10px;
                }
            }
        }
    }
}