.label {
  width: 100%;
  margin-top: 1rem;
  background-color: var(--bg-second);
  color: var(--main-text-color);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  .labelTitle {
    display: inline-block;
    width: 100%;
    padding: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
  }
  .label_content {
    padding: 1rem;
    .label_item {
      display: inline-block;
      font-size: 16px;
      padding: 2px 7px;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      margin: 0 7px 7px 0;
      color: var(--second-text-color);
      line-height: 1.5em;
      transition: all .2s ease-in-out;
      cursor: pointer;
      transition: color .3s;
      a {
        color: var(--main-text-color);
      }

    }

    .label_item:hover {
      color: var(--primary-color);
      border: solid 1px var(--primary-color);
    }

    .label_item:hover a {
      text-decoration: none;
      color: var(--primary-color);
    }
  }
}
