// 全局样式，常用于覆盖三方样式

// 局部样式，常用于业务内部使用，防止全局污染

// 默认是局部样式
.detail{
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    .active:hover{
       color: red;    
    }
    .left{
        width: 69%;
        .left_content{
            background-color: #fff;
            padding: 40px 20px;
            .imgs{
                width: 96%;
                margin-left: 2%;
            }
        }
    }
    .right{
        width: 28%;
        height: 100%;
        margin-left: 20px;
        .right_top{
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
            height: 258px;
            margin-bottom: 20px;
            background-color: #fff;
            overflow: hidden;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 50px;
                border-bottom: 1px solid rgb(221, 220, 220);
                margin-bottom: 10px;
            }
            div{
                line-height: 32px;
                .detail_list:hover{
                    color: red;
                    cursor: pointer;
                }
            }
        }
        .right_bottom{
            width: 100%;
            height: 400px;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 60px;
                border-bottom: 1px solid rgb(221, 220, 220);
                margin-bottom: 10px;
            }
            .right_content{
                overflow: auto;
                width: 100%;
                cursor: pointer;
                height: calc(400px - 50px);
                li{
                    width: 100%;
                    height: 36px;
                    line-height: 36px;
                }
                li:hover{
                    color: var(--primary-color);
                }
            }
            
        }
    }

}