
  /*小屏幕*/
  @media screen and (max-width: 768px) {
    .container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .right{
      display: none;
    }
}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .container{
        width: 768px; /*no*/
    }
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    .container{
        width: 970px; /*no*/
    }
}
/*大屏幕，或者宽屏*/
@media screen and (min-width: 1200px) {
    .container{
        width: 1140px; /*no*/
    }
}

.wrap{
  min-height: 100vh;
  background: var(--bg-body);
  .container{
    margin-right: auto;
    margin-left: auto;
    .context{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .left{
        flex: 1;
        width: calc(100% - 20rem - 1rem);
        padding-bottom: 1rem;
        .swiper{
          width: 100%;
          box-sizing: border-box;
          margin-top: 1rem;
          overflow: hidden;
          background-color: var(--bg-second);
          color: var(--main-text-color);
          .img{
            width: 100%;
            text-align: center;
            p:first-child{
              margin-top: 0.5rem;
              span.text{
                font-size: 24px;
                color: #ff0064;
              }
            }
            p:last-child{
              line-height: 24px;
              width: 100%;
              text-align: center;
              span.count{
               font-size: 18px;
               color: #ff0064;
             }
            }
          }
        }
      }
      .right{
        width: 20rem;
        margin-left: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}


      