._2986HtPLHbrpB8hiBuKILn .aTO5J37sXslKr-B-rZ3FF>._3nJJ5Sx6PbHhFVGf3_Awr6>main>footer ul._24OUzUa2SjssS1_EshUigc {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 8px 0 16px;
}
._2986HtPLHbrpB8hiBuKILn .aTO5J37sXslKr-B-rZ3FF>._3nJJ5Sx6PbHhFVGf3_Awr6>main>footer ul._24OUzUa2SjssS1_EshUigc li {
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 24px;
  text-align: center;
}
._2986HtPLHbrpB8hiBuKILn
  .aTO5J37sXslKr-B-rZ3FF
  > ._3nJJ5Sx6PbHhFVGf3_Awr6
  > main
  > footer
  ._2nq88U0e2iY4tDIjMmuVWA {
  font-size: 10px;
  line-height: 15px;
}
.ant-layout.ant-layout-has-sider {
  height: 100vh;
  flex-direction: row;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
    width: 100%;
    font-size: 14px;
    height: 44px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    width: 80%;
    height: 40px;
    font-size: 15px;
}

.anticon svg {
    display: inline-block;
}
.ant-layout-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

._2986HtPLHbrpB8hiBuKILn .aTO5J37sXslKr-B-rZ3FF>._3nJJ5Sx6PbHhFVGf3_Awr6>main>footer ul._24OUzUa2SjssS1_EshUigc li:first-of-type {
    margin-top: 1px;
}

._2986HtPLHbrpB8hiBuKILn .aTO5J37sXslKr-B-rZ3FF>._3nJJ5Sx6PbHhFVGf3_Awr6>main>footer ul._24OUzUa2SjssS1_EshUigc li {
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 24px;
    text-align: center;
}
._2986HtPLHbrpB8hiBuKILn .aTO5J37sXslKr-B-rZ3FF>._3nJJ5Sx6PbHhFVGf3_Awr6>main>footer ul._24OUzUa2SjssS1_EshUigc ._283jLEQ1DhWAe2fw-CeVAf {
  color: inherit;
}
._2986HtPLHbrpB8hiBuKILn .aTO5J37sXslKr-B-rZ3FF>._3nJJ5Sx6PbHhFVGf3_Awr6>main>footer ._2nq88U0e2iY4tDIjMmuVWA {
  font-size: 10px;
  line-height: 15px;
}
p, ul {
  list-style: none;
  margin: 0;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon svg {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}
.anticon svg {
  display: inline-block;
}
.ant-layout, .ant-layout * {
  box-sizing: border-box;
}
.anticon>* {
  line-height: 1;
}