.ant-menu .ant-menu-root .ant-menu-inline .ant-menu-dark{
    height: 100%;
}
html,body,#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    img{
        width: 32px;
        height: 32px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        object-fit: cover;
        vertical-align: middle;
    border-style: none;
    }
}
.top_header{
    color: black;
    position: relative;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    z-index: 100;
    border-bottom: 1px solid #ccc;
}
.Content{
    // width: 100%;
    // height: calc(100% - 10%);
    margin-top: 38px;
    background-color: #fff;
    // overflow-y: auto;
}
.footer{

    padding: 20px 4rem;
    color: rgba(0,0,0,.65);
    text-align: center;
    background: #e7eaee;
    margin-top: 2rem;

}
// .main{
//     // width: 100%;
//     // height: calc(100% - 10%);
//     // display: flex;
//     // flex-direction: column;
//     // overflow-y: auto;
// }
