.box {
  width: 100%;
  max-height: 230px;
  overflow: auto;
}

.box::-webkit-scrollbar {
  width: 6px;
}

.box::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.static {
  list-style-type: none;
  color: var(--main-text-color);
  position: relative;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.static:hover {
  color: var(--primary-color)
}

.active {
  color: var(--primary-color);
  background-color: var(--comment-editor-border-color);
}

// .static::after{
//     content: " ";
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left:10px;
//     width: 10px;
//     height: 10px;
//     background-color: #000;
// }
